@page
@using DncCookieSignin.Util;
@using DncCookieSignin.Extensions;
@model DncCookieSignin.Pages.Account.LoginModel
@{
    Layout = null;
    HttpContext.Session.Set(".session.name", "rector.liu");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <section>
        Is login:@UserContextService.IsLogin<br />
        CacheCallbackMessage:@Model.CacheCallbackMessage
    </section>
    <form method="post">
        <input type="hidden" asp-for="@Model.ReturnUrl"/>
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>
