@page
@model DncCookieSignin.Pages.Account.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <p><a href="~/account/login">LOGIN</a></p>
</body>
</html>
