@page
@using DncCookieSignin.Util
@model DncCookieSignin.Pages.Account.ProfileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <p>@TempData["message"]</p>
    <p>Profile</p>
    <section>
        Is login:@UserContextService.IsLogin<br />
        Login name:@UserContextService.LoginName <br />
        Display name:@UserContextService.DisplayName <br />
        .AspNetCore.Cookies:@Model.AspNetCoreCookie <br />
        CacheCallbackMessage:@Model.CacheCallbackMessage <br />
        Session ID:@HttpContext.Session.Id  <br />
        Session keys:
        @foreach (var key in HttpContext.Session.Keys)
        {
            <p>Session key:@key</p>
        }
    </section>
    <a asp-page="/account/logout">LOGOUT</a>
</body>
</html>
